<div class="page-header">
  <h1>Listing topics</h1>
</div>

<table class="table table-striped datatable">
  <thead>
    <tr>
      <th>Name</th>
      <th class="hiddenResult"></th>
      <th class="hiddenResult"></th>
      <!-- <th class="hiddenResult"></th> -->
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= topic.name %></td>
        <td><%= link_to 'Show', topic, :class => "btn btn-xs btn-primary" %></td>
        <td><%= link_to 'Edit', edit_topic_path(topic), :class => "btn btn-xs btn-primary" %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Topic', new_topic_path, :class=>"btn btn-primary" %>

